#container-calc{
  display: flex;
  align-items:center;
  justify-content: center;
  height: 98vh;
}
#calc {
  margin: auto;
  background-color: #010101;
  width: calc(70% - 50px);
  height: calc(90% - 50px);
}
/*#container-btns {
  display: flex;
  gap:; --DEFINIR O GAP
}*/
/*#container-btns-column{
  display: flex;
  flex-direction: column;
}*/
.btn {
  background-color: #201921;
  cursor: pointer;
  border: none;
  border-radius: 50%
}
.btn-num {
  color: #9fc6ef;
}
.btn-c {
  color: #d93229;
}
.btn-simb {
  color: #c69ed2;
}
.btn-igual {
  background-color: #894197;
  color: #fffffe;
}
.btn:active {
  background-color: #5e4858;
}
.btn-igual:active {
  background-color: #a973b0 !important;
}
a {
  cursor: pointer;
}

/*
  #container-res {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: red;
  }
  #containter-btns-img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 70%;
    margin-top: 8%;
  }

  .img-btn {
    width: 30px;
  }*/
